extends ../layouts/mainlayout.pug

block styles
    link(rel="stylesheet", href="/styles/login.css")


block content
    main
        section.login
            if(response)
                form(action="/user/changePassword", method="post").login-form
                    .form-control
                        input(type="password", name="old_password", required=true, placeholder="Old password")
                        label.label-form Old Password :
                    .form-control
                        input(type="password", name="new_password", required=true, placeholder="New password")
                        label.label-form New Password :
                    .form-control
                        input(type="password", name="cnew_password", required=true, placeholder="Confirm New Password")
                        label.label-form Confirm New Password :
                    .form-message
                        if(message)
                            span.message__warn(id="password-span") #{message}
                    input(type="hidden", name="token", value=(token))
                    input(type="hidden", name="_csrf", value=(csrfToken))
                    .form-control
                        button.btn.btn-primary(type="submit") Change Password
            
            else
                h4 Your Token Expired! Try Resetting Again.
            