<!DOCTYPE html>
html(lang="en")
    head
        style(type="text/css").
            body{
                color:#fff;
            }

            h1{
                background:violet;
            }

            div{
                text-align:center;
            }

    body
        nav
            h1 SHOPFEST!
        main
            div
                p Welcome to ShopFest!